Repository bjpl/subjunctive_practice, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, api, database, services, core, tests, documentation, dependencies, ci-cd, config, security

fix: Complete backend tag API implementation and frontend component updates
  backend/api/routes/auth.py
  backend/api/routes/exercises.py
  backend/core/seed_database.py
  backend/models/exercise.py
  backend/schemas/exercise.py
  backend/schemas/user.py
  backend/services/conjugation.py
  backend/services/feedback.py
  backend/tests/api/test_exercises_api.py
  backend/utils/spanish_grammar.py
  frontend/app/(app)/practice/page.tsx
  frontend/app/auth/login/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/practice/AnimatedExerciseCard.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/types/api.ts
  frontend/tsconfig.json
Labels: backend, api, services, core, tests, security

feat: Add comprehensive user testing documentation and setup
  docs/testing/BUG_REPORT_TEMPLATE.md
  docs/testing/QUICK_START.md
  docs/testing/README.md
  docs/testing/TESTING_CHECKLIST.md
  docs/testing/TEST_SCENARIOS.md
  docs/testing/USER_TESTING_GUIDE.md
  docs/testing/bugs/README.md
  scripts/create_test_data.py
Labels: documentation

fix: Resolve security issues in test data script
  scripts/create_test_data.py
Labels: none

docs: Add dependency audit report from daily dev startup
  docs/dependency-audit-report-2025-11-18.md
Labels: documentation

feat: Add comprehensive daily startup report for 2025-11-18
  daily_dev_startup_reports/2025-11-18_comprehensive_startup_report.md
Labels: documentation

docs: align README with portfolio standards
  README.md
Labels: documentation

fix: Resolve Vercel build errors
  frontend/app/auth/login/page.tsx
  frontend/next.config.js
  frontend/src/components/ui/Toast.tsx
  frontend/vercel.json
Labels: none

fix: Add verb_type to integration test fixtures
  backend/tests/integration/test_spaced_repetition_flow.py
Labels: backend, tests

fix: Update Dockerfile to use Railway PORT env variable
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  backend/Dockerfile
  backend/main.py
Labels: backend

.github/labeler.yml:

# Auto-labeler configuration for PR labeling

# Backend code changes
backend:
  - backend/**/*.py
  - backend/**

# API changes
api:
  - api/**/*.py
  - backend/api/**

# Database changes
database:
  - database/**
  - models/**/*.py
  - alembic/**
  - '**/*migration*.py'

# Service layer changes
services:
  - services/**/*.py
  - backend/services/**

# Core functionality
core:
  - core/**/*.py
  - backend/core/**

# Tests
tests:
  - tests/**/*.py
  - test_*.py
  - '**/test_*.py'

# Documentation
documentation:
  - '**/*.md'
  - docs/**
  - README.md

# Dependencies
dependencies:
  - requirements.txt
  - requirements-dev.txt
  - pyproject.toml

# CI/CD
ci-cd:
  - .github/**
  - Dockerfile
  - docker-compose.yml
  - Makefile

# Configuration
config:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.toml'
  - '**/*.ini'
  - .env.example

# Security
security:
  - '**/auth*.py'
  - '**/security*.py'
  - '**/middleware*.py'
